.header {
  background-color: #e3f2fd;
  color: #343a40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.logo {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
}
.logo-img {
  height: 60px;
  width: auto;
}
.header-title {
  font-size: 2em;
  font-weight: bold;
  color: #007bff;
  text-align: center;
}

.menu-button {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #6c757d;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-button:hover {
  color: #005cbf;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  right: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 250px;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
.menu-item {
  color: #6c757d;
  padding: 10px 0;
  font-size: 1.1em;
}

.menu-item:hover {
  background-color: #007bff;
  color: #ffffff;
  padding-left: 15px;
  border-radius: 3px;
}
