@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-800 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
input::file-selector-button {
  background-color: rgb(37 99 235);
  border: 0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
